{% extends "layout.html" %}
{% block Content %}
<div class="container global-margin-top-16">
	<div class="jumbotron jumbotron-padding">
		<div class="jumbotron-title">漂亮的考試時間</div>
		<div class="lead">從學校系統抓取考試時間表，並製作成手機自適應頁面。</div>
		<hr>
		<p>使用方法：<br>
			1. 輸入學號與密碼以便登入學校系統<br>
			2. 本服務會自動到考試系統抓取時間表，並自動製作成手機版頁面<br>
			3. 接下來就可以截圖保存啦<br>
			請注意：本服務針對南臺科技大學設計<br>
		</p>
	</div>

	<div class="row">

		<div class="col-sm">
			<form method="POST" action="">
				<div class="form-group">
					{{ form.hidden_tag() }}
					{{ form.usernamef.label(class="form-control-label") }}
					{{ form.usernamef(class="form-control") }}
					{{ form.passwordf.label(class="form-control-label") }}
					{{ form.passwordf(class="form-control") }}
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
		</div>

		<div class="col-sm">
			<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">1</th>
						<th scope="col">2</th>
						<th scope="col">3</th>
						<th scope="col">4</th>
						<th scope="col">5</th>
						<th scope="col">6</th>
					</tr>
				</thead>
				<tbody>
				    <tr>
						{% for datas in data %}
							<td>{{ datas.0 }}</td>
				    	{% endfor %}
					</tr>
					<tr>
						{% for datas in data %}
							<td>{{ datas.1 }}</td>
						{% endfor %}
					</tr>
					<tr>
						{% for datas in data %}
							<td>{{ datas.2 }}</td>
						{% endfor %}
					</tr>
					<tr>
						{% for datas in data %}
							<td>{{ datas.3 }}</td>
						{% endfor %}
					</tr>
					<tr>
						{% for datas in data %}
							<td>{{ datas.4 }}</td>
						{% endfor %}
					</tr>
					<tr>
						{% for datas in data %}
							<td>{{ datas.5 }}</td>
						{% endfor %}
					</tr>
					<tr>
						{% for datas in data %}
							<td>{{ datas.6 }}</td>
						{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>

		</div>
	</div>




</div>
{% endblock Content %}