{% extends "layout.html" %}
{% block Content %}
<div class="container global-margin-top-16">

	<div class="jumbotron">
		<div class="display-4">神選之物</div>
		<div class="lead">本程式專門幫助選擇有困難的你，尤其每當吃飯不知道要吃什麼時。</div>
		<hr>
		<p>使用方法：<br>1. 填入你讓你選不定的東西，例如：麻醬麵和乾麵<br>2. 接著請神幫你選一個</p>
	</div>

	<div class="row">

		<div class="col-sm">
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				{{ form.number.label(class="form-control-label") }}
				{{ form.number(class="form-control") }}
			</form>
		</div>



		<div class="col-sm">
			<form method="POST" action="">
				<div class="form-group">
					{{ form.hidden_tag() }}
					{{ form.itemOne.label(class="form-control-label") }} 
					{{ form.itemOne(class="form-control") }}
					{{ form.itemTwo.label(class="form-control-label") }} 
					{{ form.itemTwo(class="form-control") }}
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
		</div>



		<div class="col-sm">
			神選之物就是：<br>
				{% if ans %}
					<h3 class="text-center">
					{{ ans }}
					</h3>
				{% else %}
					
				{% endif %}
		</div>


	</div>




</div>






{% endblock Content %}