{% extends "layout.html" %}
{% block Content %}
<div class="container global-margin-top-16">
	<div class="jumbotron">
		<div class="display-4">油耗計算</div>
		<div class="lead">幫你算算你心愛的車車每公升可以跑多少公里</div>
		<hr>
		<p>使用方法：<br>1. 首先將油加滿，並將儀表板上的 Trip 歸零<br>2. 等候下次加油時，紀錄 Trip 里程和加油公升數</p>
	</div>

	<div class="row">

		<div class="col-sm">
			<form method="POST" action="">
        <div class="form-group">
          {{ form.hidden_tag() }}
          {{ form.mileage.label(class="form-control-label") }}
          {{ form.mileage(class="form-control") }}

          {% for error in form.mileage.errors %}
          <P style="color: red;">*{{ error }}</P>
          {% endfor %}

          {{ form.oil.label(class="form-control-label") }}
          {{ form.oil(class="form-control") }}

          {% for error in form.oil.errors %}
          <P style="color: red;">*{{ error }}</P>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
			</form>
		</div>



		<div class="col-sm">
      您的愛車每公升可以跑：<br>
			<h3>
				{% if result %}
					{{ result }} 公里
				{% else %}
					很多公里
				{% endif %}
			</h3>
		</div>



		<div class="col-sm">

		</div>

	</div>




</div>
{% endblock Content %}
