{% extends "layout.html" %}
{% block Content %}
<div class="header-nightsky">
        <div class="hero">
            <h1>Hi There</h1>
            <p>這邊會放一些我用 Python + Flask 弄出來的小東西</p>
        </div>
    </div>
    <!--嗨 你好 原來你也看原始碼-->
	<div style="background-color: #f5f5f5">
		<div class="container text-center sheet-padding">
    		<h3 class="display-4"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#cc3300"></i>  請注意...</h3>
    		<p class="lead" style="font-size: 20px;">
    			這裡可能會有很多蟲蟲
    		</p>
		</div>
	</div>

	<!--特點區塊-->
	<div class="container text-center sheet-padding">
		<h1 style="margin-bottom: 16px;">總覽</h1>
		<hr style="max-width: 75px; border-width: 5px; border-color: #33cccc;"/>

		<div class="row" style="margin-top: 32px;">

      <a class="col-sm bigbig" target="_blank" href="/DiffToChoice">
  			<div class=" wow zoomIn" data-wow-offset="250" style="margin-bottom: 20px;">
  				<i class="fa fa-search fa-4x" aria-hidden="true" style="color: #E96463"></i>
  				<h2 class="global-margin-top-16 ">神選之物</h2>
  				<p class="global-margin-top-16">
            <span class="subtitle">WTForms + Random</span><br>
  					在兩個選項中隨機選出一物<br>
  				</p>
  			</div>
      </a>

      <a class="col-sm bigbig" target="_blank" href="/ToGoogle">
  			<div class="col-sm wow zoomIn" data-wow-offset="250" style="margin-bottom: 20px;">
  				<i class="fa fa-google fa-4x" aria-hidden="true" style="color: #4285F4"></i>
  				<h2 class="global-margin-top-16">ToGoogle</h2>
  				<p class="global-margin-top-16">
  					<span class="subtitle">WebBrowser Module</span><br>
  					幫你開啟 Google
  				</p>
  			</div>
      </a>

      <a class="col-sm bigbig" target="_blank" href="/GasPricePerKm">
  			<div class="col-sm wow zoomIn" data-wow-offset="250" style="margin-bottom: 20px;">
  				<i class="fa fa-tint fa-4x" aria-hidden="true" style="color: #FF9D60"></i>
  				<h2 class="global-margin-top-16">油耗計算</h2>
  				<p class="global-margin-top-16">
  					<span class="subtitle">WTForms + Math</span><br>
  					想知道車子每公升跑多少公里嗎？<br></p>
  			</div>
      </a>
		</div>


		<div class="row" style="margin-top: 32px;">

      <a class="col-sm bigbig" target="_blank" href="/BeautifulExam">
  			<div class="col-sm wow zoomIn" data-wow-offset="250" style="margin-bottom: 20px;">
  				<i class="fa fa-pencil fa-4x" aria-hidden="true" style="color: #E96463"></i>
  				<h2 class="global-margin-top-16 ">漂亮的考試時間</h2>
  				<p class="global-margin-top-16">
  					<span class="subtitle">BeautifulSoup</span><br>
  					查詢考試時間，並自動讓它變好看<br>
  					*僅限南臺科技大學
  				</p>
  			</div>
      </a>

      <a class="col-sm bigbig" target="_blank" href="/AutoExam">
  			<div class="col-sm wow zoomIn" data-wow-offset="250" style="margin-bottom: 20px;">
  				<i class="fa fa-calendar fa-4x" aria-hidden="true" style="color: #4285F4"></i>
  				<h2 class="global-margin-top-16">自動考試</h2>
  				<p class="global-margin-top-16">
  					<span class="subtitle">BeautifulSoup + Google Calendar API</span><br>
  					查詢考試時間，並自動加入 Google 日曆<br>
  					*僅限南臺科技大學
  				</p>
  			</div>
      </a>

      <a class="col-sm bigbig" target="_blank" href="/Working">
  			<div class="col-sm wow zoomIn" data-wow-offset="250" style="margin-bottom: 20px;">
  				<i class="fa fa-question fa-4x" aria-hidden="true" style="color: #FF9D60"></i>
  				<h2 class="global-margin-top-16">待發展</h2>
  				<p class="global-margin-top-16">
  					<span class="subtitle">Something</span><br>
  					DoSomething<br></p>
  			</div>
      </a>
		</div>

	</div>
{% endblock Content %}
