{% extends "layout.html" %}
{% block Content %}
<div class="header-nightsky">
    <div class="hero">
            <h3 class="whiteText">登入啦</h1>
            <form method="POST" action="">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.email.label(class="whiteText") }} 
                    {{ form.email(class="form-control") }}
                    {{ form.password.label(class="whiteText") }} 
                    {{ form.password(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>

            {% if post %}
            <div>
                {% if accountName %}
                <h3 class="text-center whiteText">
                    Welcome {{ accountName }} !
                </h3>
                {% else %}
                    <img src="{{url_for('static', filename='image/accessDenied.gif')}}" />
                {% endif %}
            </div>
            {% endif %}

    </div>
</div>
{% endblock Content %}
